* {
  background-image: linear-gradient(rgb(244, 182, 182), rgb(189, 250, 189), rgb(183, 183, 233), rgb(243, 209, 147));
}

.todo {
  color: rgb(36, 4, 80);
  padding: 5px 8px 2px 6px;
  text-align: center;
  margin: 4px;
}

.todoAdd {
  color: rgb(242, 237, 247);
}

.todo-text {
  color: rgb(75, 18, 93);
  font-weight: bold;
  font-family: cursive;
}

.todo-actions {
  display: flex;
  justify-content: space-around;
  color: rgb(251, 43, 6);
  font-weight: bold;
  border-radius: 50px;
  border: 2px groove rgb(106, 106, 230);
padding: 5px;
  
}

.Add {
  color: rgb(251, 43, 6);
  font-weight: bold;
  border-radius: 50px;
  border: 2px groove rgb(106, 106, 230);
  padding: 4px;
}

.input {
  color: rgb(201, 26, 26);
  font-size: large;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
  text-align: center;

}